<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>658653106791-fvl1mioenr2krnjtqf7aovc9d62vbn6p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.658653106791-fvl1mioenr2krnjtqf7aovc9d62vbn6p</string>
	<key>API_KEY</key>
	<string>AIzaSyBScx3yUOEUl4u5WQCrAPeciL6Pw6FmRlQ</string>
	<key>GCM_SENDER_ID</key>
	<string>658653106791</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Roche.Wallapobre</string>
	<key>PROJECT_ID</key>
	<string>wallapoor</string>
	<key>STORAGE_BUCKET</key>
	<string>wallapoor.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:658653106791:ios:44ef22098f952fb796bac2</string>
	<key>DATABASE_URL</key>
	<string>https://wallapoor.firebaseio.com</string>
</dict>
</plist>